{% extends 'base.html' %}

            {% block content %}

                <div class='col-sm-6 col-sm-offset3'>
                    <h1>{{title}}</h1>
                    {%for obj in object_list%}
                        
                    <!--        <div class='col-sm-6>-->
                    <!--        {{obj.timestamp}}<br />-->
                    <!--        {{obj.updated}}<br />-->
                    <!--        {{obj.id}}<br />-->
                    <!--        </div>-->
                        

                <div class='row'>
                    <div class="col-sm-12">
                        <div class='thumbnail'>
                            {% if obj.image %}
                                <img src='{{ obj.image.url }}' class='img-resonsive' />
                            {% endif %}
                            <div class='caption'>
                                <h3><a href='{{obj.get_absolute_url}}'>{{obj.title}}</a>
                                    <small>{{ obj.timestamp|timesince}} ago</small>
                                </h3>
                                <p>{{obj.content|linebreaks|truncatechars:120}}<br /></p>
                                <p>
                                    <a
                                        href='{{obj.get_absolute_url}}'
                                        class='btn btn-primary'
                                        role='button'
                                    >
                                        View
                                    </a>
                                </p> 
                            </div>
                        </div>
                    </div>
               
                    <hr/>
                    </div> 
                    <!--{% cycle "" "<div class='col-sm-12'><hr/></div></div><div class='row'>" %}-->
                    {%endfor%}
                </div>

                
                <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?page={{ object_list.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>
                
                        {% if object_list.has_next %}
                            <a href="?page={{ object_list.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>                
                
                </div>
                
            {% endblock content %}


