
{% extends 'base.html' %}


    {% block content %}
        {{ block.super }}
        <h1>Form</h1>

        <form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Create Post' />
        </form>

    {% endblock content %}
