

{% extends 'base.html' %}

            {% block head_title %}
                
                {{instance.title}} |
                {{ block.super }}
            {% endblock head_title %}


        <style>
            {% block style %}
                h1 { color: #777;} 
            {% endblock style %}
        </style>

    {% block content %}
        <div class='col-sm-6 col-sm-offset-3'>
            {% if instance.image %}
                <img src='{{ instance.image.url }}' class='img-responsive'/>
            {% endif %}
            <h1>
                {{instance.title}}
                <small>{{instance.timestamp}}</small>
            </h1>
            {{instance.content|linebreaks}}<br />
            {{instance.updated}}<br />
            {{instance.id}}<br />
        </div>
    {% endblock content %}

